/* src/styles/Footer.css */

.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Mantiene el footer pegado al fondo */
    border-top: 1px solid #444;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-link {
    color: white;
    transition: color 0.3s;
}

.icon-link:hover {
    color: #00bcd4; /* Azul cian para destacar los enlaces sociales */
}