@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.footer {
    font-family: 'Comic Neue', sans-serif;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; 
    border-top: 1px solid #444;
}

.footer:hover{
    
    color: rgb(90, 121, 207);
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-link {
    color: white;
    transition: color 0.3s;
}

.icon-link:hover {
    color: #9aaedb; 
}