@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2c2e50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header :hover {
    color: #9cee62;
}

body{
    background-color: var(--color_1, #90a5c0);
}

.logo a {
    text-decoration: none;
    font-family: 'Stack Sans Notch', sans-serif;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    gap: 10px;
}

.logo a:hover {
    color: #9cee62;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #9cee62;
}

.icons {
    display: flex;
    gap: 20px;
}

.icon {
    cursor: pointer;
}

.icon-link {
    color: white;
    display: flex; 
    align-items: center;
}





.header-logo-img {
    height: 40px;
    width: auto;
}
