

.nosotros-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nosotros-title {
    color: #132153;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
}

.nosotros-title:hover{

    color:#29430e;

}

.subtitle {
    color: #08340a;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 30px;
}

.subtitle:hover{

    color: #132153;
}

/* Sección General. */
.nosotros-section {
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-bottom: 60px;
}

.reverse-layout {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1; 
    max-width: 600px;
}

.section-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 20px #0b223b;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.section-image:hover{

    opacity: 1; 
    transform: scale(1.1); 
    cursor:no-drop;
}


.description-text {
    line-height: 1.8;
    color: #242424;
}

.description-text:hover{

    opacity: 1; 
    transform: scale(1.1); 
    cursor:help;
}

.values-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    
}

.values-list li {
    margin-bottom: 10px;
    color: #6a2b12;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.values-list li:hover{

    color: #0f0f0f;
    opacity: 1; 
    transform: scale(1.1); 
    cursor:progress;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(59, 194, 72, 0), #102133, rgba(0, 0, 0, 0));
    margin: 50px 0;
}



@media (max-width: 800px) {
    .nosotros-section {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .reverse-layout {
        flex-direction: column;
    }
    .text-content {
        max-width: 100%;
    }
}