.servicio-card {
    background: linear-gradient(145deg, #cac6d8, #525c98); 
    border: none; 
    border-radius: 15px; 
    padding: 25px; 
    text-align: center;

    box-shadow: 30 30px 30px rgba(0, 0, 0, 0.1), 30 30px 30px rgba(0, 0, 0, 0.05);
    
    /* Animación de transición para todos los cambios. */
    transition: all 0.3s ease-in-out; 
    overflow: hidden; 
    cursor: pointer; 
}


.servicio-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.servicio-image {
    width: 100%; 
    max-height: 150px; 
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 10px;
}

.servicio-title {
    font-size: 1.2em;
    color: #e7e7eb; 
    margin: 0;
    transition: color 0.3s ease;
}

.servicio-title:hover{

    color:#1c265e;
}