/* src/styles/ServicioCard.css */

.servicio-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* Oculta cualquier cosa que se salga del borde redondeado */
}

/* Efecto visual al pasar el ratón */
.servicio-card:hover {
    transform: translateY(-5px); /* Se levanta un poco */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.servicio-image {
    width: 100%; /* Ocupa todo el ancho de la tarjeta */
    max-height: 150px; /* Limita la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 4px;
    margin-bottom: 10px;
}

.servicio-title {
    font-size: 1.2em;
    color: #007BFF; /* Azul para los títulos de servicio */
    margin: 0;
}