.tecnicos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tecnicos-title {
    text-align: center;
    color: #1e1b5e;
    margin-bottom: 40px;
    font-size: 2.5em;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.tecnicos-title:hover{

    color: #16591f;
}

.tecnicos-list {
    display: grid;
    /* Diseño de cuadrícula flexible */
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
    gap: 30px;
    padding: 0;
    list-style: none;
}